:root {
    --news-display-height: 640px;
    --article-display-height: 640px;
    --nav-bar-height: 85px;
}

.navbar {
    height: 85px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-logo-img {
    height: 60px;
}

.news-display {
    height: 640px;
    background-image: url('../assets/saturn-rings.jpg');
    background-position:center;
    background-repeat: no-repeat;
    color: white;
}

.news-display-gradient {
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.news-main-content {
    margin-left: 90px;
    padding-top: 150px;
    width: 1050px;
    
}

.news-main-content h1 {
    font-size: 70px;
    font-weight: bolder;
}

.news-main-content-text {
    padding-top: 15px;
    font-size: 1rem;
}

.news-btn-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    height: 48px;
    width: 220px;
    margin-left: 90px;
    background-color: #d83933;
    border-radius: 0.25rem;
}

.news-btn-wrapper button {
    cursor: pointer;
    font-weight: 800;
    font-size: 22px;
    border: none;
    background: none;
    color: white;
    height: 48px;
    width: 220px;
    border-radius: 0.25rem;
    transition: 1s;
}

.news-btn-wrapper button:hover {
    background-color: #b50909;
}

.article-display {
    height: 750px;
    background-color: #fff;
    color: black;
}


.article-display2 {
    height: 690px;
    background-color: black;
    color: white;
}

.article-tittle {
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 80px;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 3rem;
    }

    button {
        display: flex;
        align-items: center;
        color: black;
        font-size: 1.4rem;
        background: none;
        border: none;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;
    }



    button:hover .sign-button {
        border: 1px solid #b50909;
        background-color: #b50909;

    }
}

.news-sub-content-display {
    display: inline-block;
    margin-top: 90px;
    margin-left: 90px;
}

.sub-content-text {
    margin-top: 15px;
    font-size: .7rem;
    font-weight: 200;
    letter-spacing: 0.3rem;
    font-family: "DM Mono";
}


.line {
    filter: opacity(.3);
    background-color: white;
    width: 420px;
    height: 0.2px;

}

.sign-button {
    margin: 8px;
    align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        padding-bottom: 3px;
        font-size: 10px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid #d83933;
        background-color: #d83933;
        color: white;
        transition: 1s;
        transform: rotate(-45deg);
    }

.sub-content-text-highlights {
    display: flex;
    line-height: center;
    padding-top: 15px;
    justify-content: left;
    font-size: 16px;
}